<div id="content">
  <%= image_tag('zii-research-thingies-logo.png', alt: 'Zii Research Thingies', class: 'logo') %>
  <p class="app_name">
    Zii Research Things™
  </p>
  <a href="/admin"><%= I18n.t('common.actions.go') %></a>
</div>
