/* ...
 *= require_self
 *= require_tree ./active_admin
 */

@import 'activeadmin_addons/all';
@import "active_admin/mixins";
@import "arctic_admin/base";
@import "variables";

.flash.flash_notice {
  background-color: $alert-success-color;
}
.flash.flash_error {
  background-color: $alert-error-color;
}

.header .site_title {
  overflow: hidden;
  p {
    vertical-align: middle;
    display: table-cell;
    width: inherit;
    height: inherit;
    line-height: normal;
    font-size: 17px;
  }
}
