body.home {
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}

body.home img.logo {
    display: inline-block;
    vertical-align: middle;
}

body.home p.notice, body.home p.alert {
    display: none;
}
